/venv/
/.idea/workspace (2).xml
/.idea/Python_OOP.iml
/ERP/ERP.zip
/ERP/SC_CONF_r3/~$config.xlsx
/ERP/SC_CONF_r3/NewGrades.xlsx
/ERP/GUI/build/
/ERP/GUI/dist/
/ERP/GUI/data_entry.spec
/ERP/GUI/PySG.spec
/ERP/GUI/data-entry-form-pysimplegui-master.zip
/ERP/GUI/PySG.exe
/.idea/.name
/ERP/SC_CONF_r5/build/SC_r5/Analysis-00.toc
/ERP/SC_CONF_r5/build/SC_r5/base_library.zip
/ERP/SC_CONF_r5/BOM.xlsx
/ERP/SC_CONF_r5/BOM 20221114-025856.xlsx
/ERP/SC_CONF_r5/build/SC_r5/EXE-00.toc
/ERP/SC_CONF_r5/build/SC_r5/PKG-00.toc
/ERP/SC_CONF_r5/build/SC_r5/PYZ-00.pyz
/ERP/SC_CONF_r5/build/SC_r5/PYZ-00.toc
/ERP/SC_CONF_r5/dist/SC_r5.exe
/ERP/SC_CONF_r5/SC_r5.exe
/ERP/SC_CONF_r5/build/SC_r5/SC_r5.exe.manifest
/ERP/SC_CONF_r5/build/SC_r5/SC_r5.pkg
/ERP/SC_CONF_r5/SC_r5.spec
/ERP/SC_CONF_r5/build/SC_r5/Tree-00.toc
/ERP/SC_CONF_r5/build/SC_r5/Tree-01.toc
/ERP/SC_CONF_r5/build/SC_r5/Tree-02.toc
/ERP/SC_CONF_r5/build/SC_r5/warn-SC_r5.txt
/ERP/SC_CONF_r5/build/SC_r5/xref-SC_r5.html
/.idea/codeStyles/codeStyleConfig.xml
